.supera_paginacao {
    display: inline-block;
}

.supera_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

li {
    display: inline;
    padding: 5px;
}

a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}